.show-details-container {
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid gray;
    padding: 10px;
}

.show-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.show-info-left {
    flex: 1;
    max-width: 250px;
}

.show-info-left .show-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.show-info-left .show-title {
    font-size: 2em;
    margin-top: 15px;
    font-weight: bold;
}

.show-info-right {
    flex: 2;
    padding-left: 20px;
}

.show-info-right p {
    margin-bottom: 10px;
}

.show-actors-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.show-actors-left {
    flex: 1;
    min-width: 200px;
    margin-left: 50px;
}

.show-actors-right {
    flex: 2;
    padding-left: 50px;
    margin-left: 600px;
    text-align: left;
}

.show-actors-left h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.show-actors-left ul {
    list-style: none;
    padding: 0;
}

.show-actors-left ul li {
    margin-bottom: 5px;
}

.show-actors-right p {
    font-style: italic;
    color: #888;
}

.app-link {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: xx-large;
}

li {
    font-size: large;
}