<div class="app-link">
  <a routerLink="/search">TV App</a>
</div>
<div class="show-details-container">
  <div class="show-info">
    <div class="show-info-left">
      <img [src]="show?.Poster" alt="Show Poster" class="show-poster">
      <h2 class="show-title">{{ show?.Title }}</h2>
    </div>
    <div class="show-info-right">
      <p><strong>Plot:</strong> {{ show?.Plot }}</p>
      <p><strong>Language:</strong> {{ show?.Language }}</p>
      <p><strong>Genre:</strong> {{ show?.Genre }}</p>
      <p><strong>Premiered:</strong> {{ show?.Year }}</p>
    </div>
  </div>

  <div class="show-actors-container">
    <div class="show-actors-left">
      <h3>Cast</h3>
      <ul>
        @for (actor of show?.Actors?.split(","); track $index){
        <li>{{actor}}</li>
        }
      </ul>
    </div>
    @if (show?.totalSeasons) {
    <div class="show-actors-right">
      <h3>Episodes</h3>
      <ul>
        @for (season of show?.Seasons; track $index) {
        <strong>Season {{ season.Season}} </strong>
        <ul>
          @for (episode of season.Episodes; track $index) {
          <li>
            {{`S${season.Season}E${episode.Episode} ${episode.Title}`}}
          </li>
          }
        </ul>
        }
      </ul>
    </div>
    }
  </div>
</div>